## Datatypes in python and variables
'''for heading use # space (# heading)the press shift+enter'''

In [16]:
a = 123
b = 203

In [17]:
a

123

print(a,b)

In [25]:
poem = '''Baba black sheep
have u any wool,
yes sir , yes sir ,
3 bags full,
to be continue...'''

In [27]:
print(poem)

Baba black sheep
have u any wool,
yes sir , yes sir ,
3 bags full,
to be continue...

## input and output

In [28]:
print('this is output')

this is output

In [29]:
name =input('Enter ur name --> ')

In [30]:
print(name)

Zaid Kamil

In [31]:
name = input('Enter Name ')
college = input('Enter College ')
sem = input('Enter Semester ')
iq = input('Enter IQ ')

In [32]:
print("Name:", name)
print("College:", college)
print("Semester:", sem)
print("I.Q.", iq)

Name: Alex mason
College: St. Summer college
Semester: 3
I.Q. 89

### input and output

In [2]:
fav_color = input('enter the color that u like')
print(fav_color)

prussian blue

In [3]:
a = input('Enter a number:')
b = input('Enter other number:')
print(a, b)
c = a + b
print(c)

120 300
120300

In [4]:
int?

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant, Handle

In [6]:
int(a)

120

In [8]:
type(a)

str

In [9]:
a = int(a)
type(a)

int

In [16]:
a = float(input('enter a number'))
b = float(input('enter b number'))
c = a + b
print(c)

24.43

# operators
- assignment
- arithmetic 
- comparison
- logical
- instance `is`
- membership `in`

In [17]:
a = 10
b = 3

In [18]:
a + b

13

In [19]:
a - b

7

In [20]:
a - 10

0

In [22]:
a * b

30

`normal division -> always get float result`

In [23]:
a / b

3.3333333333333335

In [24]:
10 / 2

5.0

// `integer division` -> output result is int

In [26]:
a // b

3

In [27]:
123 // 5

24

% `modulus` gives remainder

In [29]:
a % b

1

In [30]:
a % 2

0

In [31]:
b % 2

1

In [32]:
18239 % 2

1

** `exponent` power

In [33]:
a ** b

1000

In [34]:
a ** 100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [35]:
2 ** 100

1267650600228229401496703205376

In [37]:
100 ** 1000

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [38]:
a > b

True

In [39]:
a < b

False

In [40]:
a == b

False

In [41]:
a >= b

True

In [42]:
a <= b

False

In [43]:
a != b

True

##logical operator
- and
- or
- not

In [45]:
name = 'sonu'
password = '123123'

In [46]:
name == 'sonu' and password == '123123'

True

In [47]:
name == 'sonu' and password == '1233123'

False

In [ ]:
name == 'sonu' or password == '12112'

In [48]:
email = input('enter email')
password = input('enter password')
email =='rajababu' and password == 'admin'

False

In [49]:
not email == 'raju'

True

In [50]:
hungry = 'yes'

In [51]:
not hungry == 'no'

True

In [52]:
age = 20

In [54]:
not age == 20

False

In [56]:
x = [1,2,3,3,2,4,5,2,6,'Orange']

In [58]:
100 in x

False

In [59]:
3 in x

True

In [60]:
a in x

False

In [61]:
b in x

True

In [62]:
'ORANGE' in x

False

In [64]:
'Orange' in x

True

In [4]:
a=[1,2,3,4,5,6,'black']
'black' in a

True

# Taking inputs from users

In [7]:
'Black' in a

False

In [17]:
a=input('enter the value of a')
a=int(a)
b=input('enter the value of b')
b=int(b)
c=(a+b)
print('the addition of two numbers is:',+c)

the addition of two numbers is: 7

In [16]:
a=input('enter the value of a')
a=int(a)
b=input('enter the value of b')
b=int(b)
c=(a-b)
print('the substraction  of two numbers is:',+c)

the substraction  of two numbers is: 2

In [15]:
a=input('enter the value of a')
a=int(a)
b=input('enter the value of b')
b=int(b)
c=(a*b)
print('the multiplication of two numbers is:',+c)

the multiplication of two numbers is: 6

In [13]:
a=input('enter the value of a')
a=int(a)
b=input('enter the value of b')
b=int(b)
c=(a/b)
print('the division of two numbers is:',+c)

the division of two numbers is: 3.0

In [14]:
a=input('enter the value of a')
a=int(a)
b=input('enter the value of b')
b=int(b)
c=(a//b)
print('the division of two numbers is:',+c)

the division of two numbers is: 3

# conditions and loops

In [4]:
if  10%2 == 0:

    print("its even")

its even

In [8]:
 a=120
 if a>100:
  print('waah')

waah

In [16]:

 if a==140:
   print('amazing')
   print("this block is contains error")

In [17]:
a=10
b=20
c=30
if a<b and a<c:
 print('a is smallest')

a is smallest

In [19]:
username=input("enter user name")
password=input("enter password")
if username =='Ben' and password =='Omnitrix':
    print('welcome ben 10')

jwelcome ben 10

In [24]:
age = 30
if age>25:
 print('youv are aduld persion')
if age>50:
 print("you are old")
if age==30:
 print('you are old too')

youv are aduld persion
you are old too

## neste if

In [37]:
firstname='vijay'
lastname='chauhan'
if firstname.startswith('v'):
    if lastname.startswith('c'):
        print('welcome')

welcome

In [38]:
favcol=input("enter fav color")
if favcol in ['red','orange','yellow']:
    favfruit=input("enter your fav fruit")
    if favfruit.startswith('o'):
        print("you are choosen one")

you are choosen one

In [67]:
pmony=int(input('enter your pocket money'))
if pmony >1000:
    pmony=pmony -500
if pmony<600:
        pmony=pmony+200
print('ypur pocket money is:',pmony)

ypur pocket money is: 500

## if else

In [73]:
a=40
if a>=41:
    print("its true")
else:
    print("its false")

its false

In [74]:
a=30
if a>=41:
    print("its true")
else:
    print("nothing true")

nothing true

In [76]:
nm= input('enter your name')
if nm.startswith('a') or nm.startswith('e') or nm.startswith('i') or nm.startswith('o') or nm.startswith('u'):
    print("your name is correct")
else:
    print("you name is not correct")

you name is not correct

In [82]:
string=['the','name']
if 'the' in string:
     print('true')

true

In [84]:
a=40
b=30

if a is 50:
    print("a is 50")
else:
    print('a is not 50')

a is not 50

In [95]:
answer="naruto"
question=" who is father of boruto"
res=input(question)
if res==answer:
    print("you won the match")
elif res=='sasuke':
        print("p read chapter")

## Loops

- step base 
- condition base loop

In [1]:
for temp_var in irerable:
    statement 1
    statement 2
    ...
    statement n

SyntaxError: invalid syntax (<ipython-input-1-0a943580a19f>, line 2)

In [2]:
x=[1,2,3,4,5,6,7]
len(x)

7

In [3]:
for i in x:
    print(i)

1
2
3
4
5
6
7

In [8]:
name ='harendraprajapati' #name is itrator here
for ch in name :
    print(ch)

h
a
r
e
n
d
r
a
p
r
a
j
a
p
a
t
i

In [12]:
animals = ['dog','elephant','cat','mouse','rat']
for animal in animals:
    print(f'i like {animal}')

i like dog
i like elephant
i like cat
i like mouse
i like rat

In [17]:
for i in x:
    print(i)
    print(i**2)
    print(i**3)
print('the end')

1
1
1
2
4
8
3
9
27
4
16
64
5
25
125
6
36
216
7
49
343
the end

In [25]:
 for i in x:
     if i % 2 == 0:
         print(i)

2
4
6

In [27]:
for i in x:
    
         print(f'10 x {i}={10*i}')

10 x 1=10
10 x 2=20
10 x 3=30
10 x 4=40
10 x 5=50
10 x 6=60
10 x 7=70

## itrators in python

- those items that can be looped in pytho
- strint
- list 
- tuple
- set
- dict
- range() - used for specifiying the no of times a loop should run
_ so on

- 'range (stop)' ->give a sequence from 0 ---> stop-1
- 'range (start,stop)' ->give a sequence from start ---> stop-1
- range (start,stop,gap) ->give a sequence from start ---> stop-1,with a gap b/w values

In [28]:
for i in range(5):
    
         print(i)

0
1
2
3
4

In [29]:
for a in range(5,11):
    
         print(a)

5
6
7
8
9
10

In [30]:
for i in range(1,11,2):
    
         print(i)

1
3
5
7
9

In [34]:
for i in range(10):
    
         print(':')

:
:
:
:
:
:
:
:
:
:

In [33]:
for i in range(10):
    
         print(':'*i)

:
::
:::
::::
:::::
::::::
:::::::
::::::::
:::::::::

In [35]:
for i in range(10,0,-1):
    
         print(i)

10
9
8
7
6
5
4
3
2
1

In [43]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [45]:
for i in range(-10,10):
    print(':'*i)

:
::
:::
::::
:::::
::::::
:::::::
::::::::
:::::::::

In [46]:
for i in range(10,0,-1):
    
         print(':'*i)

::::::::::
:::::::::
::::::::
:::::::
::::::
:::::
::::
:::
::
:

## break and continue
- break => stop loop before its completion based on condition
- continue => skip a code execution in loop

In [53]:
for i in range(10):
    num= int(input('enter a value'))
    if num>50:
        print(num)
    else:
        break
print('the end')

56
77
89
98
the end

In [1]:
num=[1,2,3,4,5,6,7,8,9,10]
for val in num:
    if val==0:
        continue
    print('original',val)
    print('sqare',val **2)
    print('sqare',val **3 )
    print('--'*20)

original 1
sqare 1
sqare 1
----------------------------------------
original 2
sqare 4
sqare 8
----------------------------------------
original 3
sqare 9
sqare 27
----------------------------------------
original 4
sqare 16
sqare 64
----------------------------------------
original 5
sqare 25
sqare 125
----------------------------------------
original 6
sqare 36
sqare 216
----------------------------------------
original 7
sqare 49
sqare 343
----------------------------------------
original 8
sqare 64
sqare 512
----------------------------------------
original 9
sqare 81
sqare 729
----------------------------------------
original 10
sqare 100
sqare 1000
----------------------------------------

## while loop

''' while condition:
satatement 1
satatement 2
...
satatement n'''

In [10]:
i = 312839012
while i > 0:
    print(i)
    i=i // 10

312839012
31283901
3128390
312839
31283
3128
312
31
3

In [19]:
while True:
    email =input("enter e mail address")
    password=input("enter password")
    
    if email == 'harendra@gmail.com' and password=='12345':
        print('welcome Mr harendra')
        break
    else:
         print('try again')

welcome Mr harendra

## calculate

In [1]:
while True:
    print('Calculator Menu')
    print('ADD\tSUB\tDIV\tEXIT')
    print('--'*20)
    print('>>')
    ch=input('select option >>')
    if ch.lower()=='add':
        x=int(input('enter a:'))
        y=int(input('enter b:'))
        print(f'{x}+{y}={x+y}')
    elif ch.lower()=='sub':
        x=int(input('enter a:'))
        y=int(input('enter b:'))
        print(f'{x}-{y}={x-y}')

    elif ch.lower()=='mul':
        x=int(input('enter a:'))
        y=int(input('enter b:'))
        print(f'{x}*{y}={x*y}')

    elif ch.lower()=='div':
        x=int(input('enter a:'))
        y=int(input('enter b:'))
        print(f'{x}/{y}={x/y}')
    elif ch.lower()=='exit':
        print("cal closed")
        break

Calculator Menu
ADD	SUB	DIV	EXIT
----------------------------------------
>>
2+3=5
Calculator Menu
ADD	SUB	DIV	EXIT
----------------------------------------
>>
cal closed

In [1]:
poem= ''
print('write your poem')
while True:
    lines=input('>>')
    if lines:
        poem+=lines+'\n'
    else:
            break
print('your poem is')
print(poem)

write your poem
your poem is
do you
know
about
roolin down

## DATA SET'S - String Property

- index ,ordered
- immutable - don't change during code execution
- str( ) - convert data to string datatype
- can be wrapped in ' '," ",''' ''',
- triple quoted string can also be used in documentation

In [5]:
flower ="chrysanthemum"
name = 'vijay deenanath chauhan'
quots=''' life before death,
hope before despair,
journyey before Destination '''

In [6]:
print(flower)

chrysanthemum

In [8]:
print(quots)

 life before death,
hope before despair,
journyey before Destination

In [11]:
### create ,indexing,slicing,functions

In [12]:
flower[0]

'c'

In [13]:
flower[-1]

'm'

In [14]:
flower[6]

'n'

In [15]:
name=[6]

In [16]:
title?

Object `title` not found.

## slicing

In [17]:
flower[:5]

'chrys'

In [18]:
flower[-3:]

'mum'

In [20]:
flower[-6:-3]

'the'

## find functions

In [ ]:
name = 'vijay deenanath chauhan'
for i,v in enumerate(name) :
 print(i,v)

In [27]:
flower[-6:-3]

'the'

In [29]:
name[:5]

'vijay'

In [34]:
name[5:15]

' deenanath'

In [35]:
quots[40:]

'\njournyey before Destination '

In [38]:
quots[50:]

'before Destination '

## Functions in strig

In [5]:
sentence ='i want to Vijawada to haVe a Holiday.'

In [6]:
sentence.upper()

'I WANT TO VIJAWADA TO HAVE A HOLIDAY.'

In [10]:
senu = sentence.upper()

In [9]:
sen1 = sentence.lower()

In [11]:
senc = sentence.capitalize()

In [18]:
sent1 = sentence.title()

In [19]:
sent2 = sentence.casefold()

In [20]:
sen3 = sentence.swapcase()

In [21]:
len(sentence)

37

In [22]:
word='solid'

In [23]:
word

'solid'

In [24]:
word.rjust(50)

'                                             solid'

In [25]:
word.ljust(50)

'solid                                             '

In [33]:
word.center(90)

'                                          solid                                           '

In [38]:
for i in range(1,15,2):
    print('o' * i)

o
ooo
ooooo
ooooooo
ooooooooo
ooooooooooo
ooooooooooooo

In [39]:
for i in range(1,15,2):
    print(('o' * i).rjust(15))

              o
            ooo
          ooooo
        ooooooo
      ooooooooo
    ooooooooooo
  ooooooooooooo

In [40]:
for i in range(1,15,2):
    print(('o' * i).center(15))

       o
      ooo
     ooooo
    ooooooo
   ooooooooo
  ooooooooooo
 ooooooooooooo

In [43]:
for i in range(15,0,-2):
    print(('o' * i).center(15))

ooooooooooooooo
 ooooooooooooo
  ooooooooooo
   ooooooooo
    ooooooo
     ooooo
      ooo
       o

In [44]:
for i in range(1,15,2):
    print(('o' * i).center(15))

for i in range(15,0,-2):
    print(('o' * i).center(15))

       o
      ooo
     ooooo
    ooooooo
   ooooooooo
  ooooooooooo
 ooooooooooooo
ooooooooooooooo
 ooooooooooooo
  ooooooooooo
   ooooooooo
    ooooooo
     ooooo
      ooo
       o

In [45]:
for i in range(15,0,-2):
    print(('o' * i).center(15))

for i in range(1,15,2):
    print(('o' * i).center(15))

ooooooooooooooo
 ooooooooooooo
  ooooooooooo
   ooooooooo
    ooooooo
     ooooo
      ooo
       o
       o
      ooo
     ooooo
    ooooooo
   ooooooooo
  ooooooooooo
 ooooooooooooo

In [46]:
word.isnumeric()

False

In [48]:
s="20"
s.isnumeric()

True

In [50]:
x =input("enter the number")
if x.isnumeric():
    print('correct')
    x=int(x)
else:
    print('wrong input')

wrong input

## important Functions

In [55]:
quots='life before death,hope before despire,journy before dewstination'

words = quots.split()

In [57]:
print(words)

['life', 'before', 'death,hope', 'before', 'despire,journy', 'before', 'dewstination']

In [58]:
len(word)

5

In [59]:
quots.split(',')

['life before death', 'hope before despire', 'journy before dewstination']

In [62]:
quots.split('before')

['life ', ' death,hope ', ' despire,journy ', ' dewstination']

In [63]:
wiki='''Article rewriting deals with the taking in information and expressing it in a new way. And that requires a comprehensive vocabulary, research, time and hard work.Rewriting content may take hours if done manually. Well, the time is not the leisure we have these days. Working hard certainly pays off but it costs a hefty amount of time, and the production of content becomes lesser. For example, if you are using a paraphrasing tool to rewrite an essay or an article, first you have to read that content thoroughly. Then find the suitable words to replace the original content while keeping the integrity of the topic. For that, you will have to possess a well-established vocabulary and a large amount of free time at your hand. So, the people who are incredibly loose may indulge in this activity, but those who have limited resources at their hands may find rewriting a burdensome job.'''

In [67]:
for word in wiki.split():
    print(word,len(word))

Article 7
rewriting 9
deals 5
with 4
the 3
taking 6
in 2
information 11
and 3
expressing 10
it 2
in 2
a 1
new 3
way. 4
And 3
that 4
requires 8
a 1
comprehensive 13
vocabulary, 11
research, 9
time 4
and 3
hard 4
work. 5
Rewriting 9
content 7
may 3
take 4
hours 5
if 2
done 4
manually. 9
Well, 5
the 3
time 4
is 2
not 3
the 3
leisure 7
we 2
have 4
these 5
days. 5
Working 7
hard 4
certainly 9
pays 4
off 3
but 3
it 2
costs 5
a 1
hefty 5
amount 6
of 2
time, 5
and 3
the 3
production 10
of 2
content 7
becomes 7
lesser. 7
For 3
example, 8
if 2
you 3
are 3
using 5
a 1
paraphrasing 12
tool 4
to 2
rewrite 7
an 2
essay 5
or 2
an 2
article, 8
first 5
you 3
have 4
to 2
read 4
that 4
content 7
thoroughly. 11
Then 4
find 4
the 3
suitable 8
words 5
to 2
replace 7
the 3
original 8
content 7
while 5
keeping 7
the 3
integrity 9
of 2
the 3
topic. 6
For 3
that, 5
you 3
will 4
have 4
to 2
possess 7
a 1
well-established 16
vocabulary 10
and 3
a 1
large 5
amount 6
of 2
free 4
time 4
at 2
your 4
hand. 5
So, 3
the 3
people 6
who 3
are 3
incredibly 10
loose 5
may 3
indulge 7
in 2
this 4
activity, 9
but 3
those 5
who 3
have 4
limited 7
resources 9
at 2
their 5
hands 5
may 3
find 4
rewriting 9
a 1
burdensome 10
job. 4

In [69]:
largest=''
for word in wiki.split():
    if len(largest) < len(word):
        largest = word
print(largest,len(largest))

well-established 16

In [70]:
wiki.replace('a','e')

' Article rewriting deels with the teking in informetion end expressing it in e new wey. And thet requires e comprehensive vocebulery, reseerch, time end herd work.\n\nRewriting content mey teke hours if done menuelly. Well, the time is not the leisure we heve these deys. Working herd certeinly peys off but it costs e hefty emount of time, end the production of content becomes lesser. For exemple, if you ere using e perephresing tool to rewrite en essey or en erticle, first you heve to reed thet content thoroughly. Then find the suiteble words to replece the originel content while keeping the integrity of the topic. For thet, you will heve to possess e well-esteblished vocebulery end e lerge emount of free time et your hend. So, the people who ere incredibly loose mey indulge in this ectivity, but those who heve limited resources et their hends mey find rewriting e burdensome job.'

In [71]:
wiki.replace('on','ohh')

' Article rewriting deals with the taking in informatiohh and expressing it in a new way. And that requires a comprehensive vocabulary, research, time and hard work.\n\nRewriting cohhtent may take hours if dohhe manually. Well, the time is not the leisure we have these days. Working hard certainly pays off but it costs a hefty amount of time, and the productiohh of cohhtent becomes lesser. For example, if you are using a paraphrasing tool to rewrite an essay or an article, first you have to read that cohhtent thoroughly. Then find the suitable words to replace the original cohhtent while keeping the integrity of the topic. For that, you will have to possess a well-established vocabulary and a large amount of free time at your hand. So, the people who are incredibly loose may indulge in this activity, but those who have limited resources at their hands may find rewriting a burdensome job.'

In [73]:
wiki.replace('Article','ediots')

' ediots rewriting deals with the taking in information and expressing it in a new way. And that requires a comprehensive vocabulary, research, time and hard work.\n\nRewriting content may take hours if done manually. Well, the time is not the leisure we have these days. Working hard certainly pays off but it costs a hefty amount of time, and the production of content becomes lesser. For example, if you are using a paraphrasing tool to rewrite an essay or an article, first you have to read that content thoroughly. Then find the suitable words to replace the original content while keeping the integrity of the topic. For that, you will have to possess a well-established vocabulary and a large amount of free time at your hand. So, the people who are incredibly loose may indulge in this activity, but those who have limited resources at their hands may find rewriting a burdensome job.'

In [75]:
wiki.replace('a','e').replace('the','out')

' Article rewriting deels with out teking in informetion end expressing it in e new wey. And outt requires e comprehensive vocebulery, reseerch, time end herd work.\n\nRewriting content mey teke hours if done menuelly. Well, out time is not out leisure we heve outse deys. Working herd certeinly peys off but it costs e hefty emount of time, end out production of content becomes lesser. For exemple, if you ere using e perephresing tool to rewrite en essey or en erticle, first you heve to reed outt content thoroughly. Then find out suiteble words to replece out originel content while keeping out integrity of out topic. For outt, you will heve to possess e well-esteblished vocebulery end e lerge emount of free time et your hend. So, out people who ere incredibly loose mey indulge in this ectivity, but those who heve limited resources et outir hends mey find rewriting e burdensome job.'

In [85]:
newwiki = wiki.replace('deels','ramukaka')

newwiki

' Article rewriting deals with the taking in information and expressing it in a new way. And that requires a comprehensive vocabulary, research, time and hard work.\n\nRewriting content may take hours if done manually. Well, the time is not the leisure we have these days. Working hard certainly pays off but it costs a hefty amount of time, and the production of content becomes lesser. For example, if you are using a paraphrasing tool to rewrite an essay or an article, first you have to read that content thoroughly. Then find the suitable words to replace the original content while keeping the integrity of the topic. For that, you will have to possess a well-established vocabulary and a large amount of free time at your hand. So, the people who are incredibly loose may indulge in this activity, but those who have limited resources at their hands may find rewriting a burdensome job.'

In [1]:
print('harendra prajati')

harendra prajati

# EXCERCISE

## it is lavel2 heading

### it is level 3 heading

In [1]:
print('hi i am john doe')

hi i am john doe

In [2]:
print("push kaise kare")

push kaise kare

In [4]:
print ('pop kaise kare')

pop kaise kare

In [5]:
 "haS"

'haS'

In [2]:
print ("\t harendra prajapati want to send code on juptier")

	 harendra prajapati want to send code on juptier

# Self Practice
- comments

In [29]:
#this is single line comment
print('study hub tutoril')   #this is also a single line comment

study hub tutoril

- multiline comments

In [36]:
"""
This is a comment
written in
more than just one line
"""
print('hello harendra')

hello harendra

In [27]:
i=5
if i>3:
    print('3 is greater than 5') #if you dont give whitespaces then it wii give you indation error
else :
        print('3 is less than 5')

if i<7:
    print('7 is less than 5')
else:
        print('7 is greater than 5')

3 is greater than 5
7 is less than 5

- varriables

In [43]:
x=5
x="harendra"

In [42]:
print(x)

5

- type casting

In [46]:
a=int(19)
b= str("harendra")
c=float(20)

In [47]:
print(a,b,c)

19 harendra 20.0

In [48]:
print(type(a))

<class 'int'>

In [49]:
print(type(b))

<class 'str'>

In [50]:
print(type(c))

<class 'float'>

### python varriables

In [52]:
a,b,c = "harendra","prajapati","azamgarh"

In [53]:
print(a,b,c)

harendra prajapati azamgarh

# webcam use

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]