In [7]:
5 + 5

10

In [8]:
30000000000000000000000000000000000000000000000000000000+3000000000000000000000000000000000000000000000000000000000000000000000

3000000000000030000000000000000000000000000000000000000000000000000000

#data type in python

In [3]:
print("hello harendra")

hello harendra

print(123456788)

In [4]:
print("argument",2,"arguments")

argument 2 arguments

In [6]:
a=5
a

5

In [7]:
print(a)

5

In [8]:
s="tody is chocolate day"
s

'tody is chocolate day'

In [9]:
print(s)

tody is chocolate day

In [10]:
a="harendra prajapti "
a

'harendra prajapti '

In [20]:
b='''harendra prajapati 
atrauliy azamgarh'''
b

print(b)

harendra prajapati
atrauliy azamgarh

In [14]:
print(b)

harendra prajapati

In [15]:
print(b)

harendra prajapati

In [19]:
b="""harendra
 prajapati 
 atrauliy 
 azamgarh"""
print(b)

harendra
 prajapati
 atrauliy
 azamgarh

In [21]:
poem='''twinkle
twinkle'''
print(poem)

twinkle
twinkle

In [22]:
t=20
type(t)

int

In [23]:
f=3.145
type(f)

float

In [27]:
t,f=True,False
t
f
print(type(t),type(f))

<class 'bool'> <class 'bool'>

In [28]:
print(type(t),type(f))

<class 'bool'> <class 'bool'>

In [29]:
f

False

In [31]:
x=None
y=None
x
type(x)

NoneType

In [33]:
type(y)

NoneType

In [35]:
num1,num2=90,20 
num1+num2

110

In [45]:
name=input("enter your name-->")
collage=input("enter your collage")
sec=input("enter your scetion")
print(name)
print(collage)
print(sec)

ram
bbdu
35

In [39]:
print(name)

 harendra

In [3]:
if 5 > 2: 
 print("Five is greater than two!")  
if 5 > 2: 
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
print("harendra")

harendra

In [6]:
print("haramiyo ka adda")

haramiyo ka adda

In [9]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [15]:
if 5 > 2:
print("five is greater than two")

IndentationError: expected an indented block (<ipython-input-15-e49089360e86>, line 2)

In [13]:
fav_color = input('WHAT IS YOUR FAV COLOR')
print(fav_color)

blue

In [22]:
int?

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant

In [25]:
a=int(a)
type(a)

int

In [1]:
a=10
b=3
c=a*b
print(c)

30

In [2]:
a=int(input('enter a'))
b=int(input('enter b'))
c=(a+b)
print(c)

7

In [6]:
a=10
b=3
a >= b

True

## logical operators

and
or
not

In [24]:
name= 'ram'
password = '12345'

In [26]:
name == 'ram' or password == '12345'

True

## and operator

In [ ]:
email =input('enter mail')
password =input('enter password')
email=='raja' and password =='admin'

##or operator

In [30]:
email =input('enter mail')
password =input('enter password')
email=='raja' or password =='admin'

False

In [ ]:
age=10

In [31]:

x=[1,2,3,4,5,6,'orange']
100 in x

False

In [32]:
2 in x

True

In [33]:
5 in x

True

In [34]:
'orange' in x

True

In [35]:
'Orange ' in x

False

In [37]:
'b' in x

False