# WAP to store 10 the movies entered by the user in a  list

In [4]:
movies=[]
for i in range(10):
    name=input('enter the movie name =>')
    movies.append(name)

In [5]:
print(movies)

['r', 'r', 'r', 'r', 'r', 'r', 'w', 'e', '', 'r']

In [6]:
movies

['r', 'r', 'r', 'r', 'r', 'r', 'w', 'e', '', 'r']

# WAP to store 100 even numbers in the list

In [ ]:
even=list(range(2,202,2))

In [ ]:
print(even)

# wap to print all the odd numbers in the list given below

In [ ]:
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

In [ ]:
for i in a:
    if i%2!=0:
        print(i)

# wap to store all the odd numbers into a new list from the list given below

In [ ]:
sto=[]
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

for i in a:
    if i%2!=0:
        sto.append(i)

In [ ]:
sto

# wap to store 10 prime numbers

In [ ]:
num =91203
for i in range(2,num):
    if num %i==0:
        print('not prime')
        break
else:
    print(f'{num} is prime ')

In [18]:
primes=[]                                    #blank list
num=2                                         #start pos
while len(primes) < 10:
    print(primes,len(primes),num)                           
    for i in range(2,num):
        if num%i == 0:
            break
    else:
        primes.append(num)
    num += 1

[] 0 2
[2] 1 3
[2, 3] 2 4
[2, 3] 2 5
[2, 3, 5] 3 6
[2, 3, 5] 3 7
[2, 3, 5, 7] 4 8
[2, 3, 5, 7] 4 9
[2, 3, 5, 7] 4 10
[2, 3, 5, 7] 4 11
[2, 3, 5, 7, 11] 5 12
[2, 3, 5, 7, 11] 5 13
[2, 3, 5, 7, 11, 13] 6 14
[2, 3, 5, 7, 11, 13] 6 15
[2, 3, 5, 7, 11, 13] 6 16
[2, 3, 5, 7, 11, 13] 6 17
[2, 3, 5, 7, 11, 13, 17] 7 18
[2, 3, 5, 7, 11, 13, 17] 7 19
[2, 3, 5, 7, 11, 13, 17, 19] 8 20
[2, 3, 5, 7, 11, 13, 17, 19] 8 21
[2, 3, 5, 7, 11, 13, 17, 19] 8 22
[2, 3, 5, 7, 11, 13, 17, 19] 8 23
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 24
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 25
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 26
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 27
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 28
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 29

In [19]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# f

In [20]:
flowers=['sunflower','rose','iris',"lily",'lotus',]

In [24]:
flo=[]
for item in flowers:
    if 'o' in item:
        print(item)
        flo.append(item)

sunflower
rose
lotus

In [25]:
print(flo)

['sunflower', 'rose', 'lotus']

In [26]:
flowers_e=[item for item in flowers if 'e' in item]
flowers_e

['sunflower', 'rose']

In [27]:
x=[2,3,4,5,6]

In [29]:
x2=[]
for i in x:
    sqr=i**2
    x2.append(sqr)
    print(x2)

[4]
[4, 9]
[4, 9, 16]
[4, 9, 16, 25]
[4, 9, 16, 25, 36]

In [33]:
x3=[i**3 for i in x]
x3

[8, 27, 64, 125, 216]

In [34]:
x4=[i**4 for i in x]
x4

[16, 81, 256, 625, 1296]

In [35]:
x5=[i**5 for i in x]
x5

[32, 243, 1024, 3125, 7776]

# Tuple & Sets

In [7]:
tup=1,3,4,6,5

In [8]:
type(tup)

tuple

In [9]:
tup=(1,2,3,5,5,6)

In [10]:
type(tup)

tuple

In [11]:
'o', 'sda',4,14

('o', 'sda', 4, 14)

In [12]:
t=1,2,3,4,5,567,7,

In [13]:
type(t)

tuple

In [14]:
t=(10)

In [15]:
type(t)

int

In [16]:
t=(10,)

In [17]:
type(t)

tuple

In [18]:
print(t,type(t))

(10,) <class 'tuple'>

In [21]:
a={'foo', 'bar','lincy','jango'}
b={'yahoo', 'bar','cario','ronaldo','jango'}

In [22]:
a.union(b)

{'bar', 'cario', 'foo', 'jango', 'lincy', 'ronaldo', 'yahoo'}

In [23]:
a | b

{'bar', 'cario', 'foo', 'jango', 'lincy', 'ronaldo', 'yahoo'}

In [27]:
print(a.intersection(b),)

{'jango', 'bar'}

In [28]:
print(a.intersection(b),a&b)

{'jango', 'bar'} {'jango', 'bar'}

In [30]:
a.difference(b)

{'foo', 'lincy'}

In [31]:
print(a.difference(b),a-b)

{'lincy', 'foo'} {'lincy', 'foo'}

In [32]:
a.symmetric_difference(b)

{'cario', 'foo', 'lincy', 'ronaldo', 'yahoo'}

In [33]:
a^b

{'cario', 'foo', 'lincy', 'ronaldo', 'yahoo'}

In [59]:
a={1,2,3,4,5,6}
b={1,2,3,4,5,6}

In [61]:
a.isdisjoint(b)

False

In [39]:
a.issubset(b)

True

In [42]:
b.remove(1)
b

{2, 3, 4, 5, 6}

In [44]:
b.pop()

2

In [46]:
a>b

False

In [47]:
a<=b

False

In [48]:
a<b

False

In [49]:
a>b

False

In [50]:
a-b

{1, 2}

In [51]:
a^b

{1, 2, 4, 5, 6}

In [74]:
x={1,2,3}
y={4,5,6}

In [77]:
x.isdisjoint(y)

True

In [78]:
x.pop()

1

In [87]:
a={8,3,4,2,5,6}

In [89]:
b={3,2,4,6,7}

In [91]:
a.remove(2)

In [92]:
a

{3, 4, 5, 6, 8}