# WAP to store 10 the movies entered by the user in a  list

In [1]:
movies=[]
for i in range(10):
    name=input('enter the movie name =>')
    movies.append(name)

In [2]:
print(movies)

['vkkings', 'raj', 'ramukaka', 'dena', 'murga', 'lollypop', 'dabang', 'huddy', 'rowdy', 'rocky']

In [3]:
movies

['vkkings',
 'raj',
 'ramukaka',
 'dena',
 'murga',
 'lollypop',
 'dabang',
 'huddy',
 'rowdy',
 'rocky']

# WAP to store 100 even numbers in the list

In [4]:
even=list(range(2,202,2))

In [5]:
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

# wap to print all the odd numbers in the list given below

In [6]:
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

In [7]:
for i in a:
    if i%2!=0:
        print(i)

3
7
879
23
31

# wap to store all the odd numbers into a new list from the list given below

In [14]:
sto=[]
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

for i in a:
    if i%2!=0:
        sto.append(i)

In [15]:
sto

[3, 7, 879, 23, 31]